$themeColor: #2A6AE9;     /*shimily */
$themeHoverColor: lighten($themeColor, 8%);  /*shimily */
$textColor: #333333; /*shimily */
$borderColor: #E3E3E3; /*shimily */
$lightGray: #F5F5F5; /*shimily  */
$lightGray20: #F9FAFF;

$boxShadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;


$borderRadius: 4px;
$borderRadius5: 5px;
$borderRadius8: 8px;
$borderRadius10: 10px;
$borderRadius15: 15px;
$borderRadius20: 20px;

$textElementFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';