@font-face {
  font-family: "colorfont"; /* Project id 5005828 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1769312638245') format('woff2'),
       url('iconfont.woff?t=1769312638245') format('woff'),
       url('iconfont.ttf?t=1769312638245') format('truetype');
}

.colorfont {
  font-family: "colorfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coloricon-file-color:before {
  content: "\e6e0";
}

.coloricon-prompt-warning-blue:before {
  content: "\e6ed";
}

.coloricon-prompt-failure:before {
  content: "\e6ec";
}

.coloricon-prompt-warning-red:before {
  content: "\e6ea";
}

.coloricon-prompt-successful:before {
  content: "\e6eb";
}

.coloricon-a-svg3:before {
  content: "\e605";
}

.coloricon-design-send:before {
  content: "\e66b";
}

.coloricon-home-ai-chat:before {
  content: "\e667";
}

.coloricon-home-h5:before {
  content: "\e668";
}

.coloricon-home-logo:before {
  content: "\e66a";
}

.coloricon-home-ppt:before {
  content: "\e66d";
}

.coloricon-home-mind:before {
  content: "\e66f";
}

.coloricon-home-process:before {
  content: "\e670";
}

.coloricon-design-guss:before {
  content: "\e675";
}

.coloricon-design-hot:before {
  content: "\e676";
}

.coloricon-color:before {
  content: "\e62c";
}

.coloricon-ai-guess:before {
  content: "\e663";
}

.coloricon-ai-ppt-music:before {
  content: "\e679";
}

.coloricon-ai-ppt-video:before {
  content: "\e68c";
}

.coloricon-design-nav-bg-active:before {
  content: "\e703";
}

.coloricon-design-nav-text-active:before {
  content: "\e707";
}

.coloricon-design-ppt-import:before {
  content: "\e715";
}

.coloricon-design-pptx-import:before {
  content: "\e716";
}

.coloricon-design-png-import:before {
  content: "\e718";
}

.coloricon-design-psd-import:before {
  content: "\e72d";
}

.coloricon-switch1:before {
  content: "\e731";
}

.coloricon-search-summer1:before {
  content: "\e734";
}

.coloricon-search-travel1:before {
  content: "\e735";
}

.coloricon-search-redbook1:before {
  content: "\e736";
}

.coloricon-search-graduate1:before {
  content: "\e737";
}

.coloricon-design-bmp-import1:before {
  content: "\e73a";
}

.coloricon-design-ai-import1:before {
  content: "\e73b";
}

.coloricon-ai-hot1:before {
  content: "\e733";
}

.coloricon-design-jpg-import:before {
  content: "\e65a";
}

.coloricon-design-flip-creation:before {
  content: "\e65b";
}

.coloricon-ai-effect-enlarge:before {
  content: "\e633";
}

.coloricon-ai-effect-down:before {
  content: "\e634";
}

.coloricon-ai-effect-left-right:before {
  content: "\e635";
}

.coloricon-ai-effect-exchange:before {
  content: "\e636";
}

.coloricon-ai-effect-reduce:before {
  content: "\e637";
}

.coloricon-ai-effect-fade-out:before {
  content: "\e638";
}

.coloricon-ai-effect-up-down-expand:before {
  content: "\e639";
}

.coloricon-ai-effect-magnify:before {
  content: "\e63a";
}

.coloricon-ai-effect-left:before {
  content: "\e63b";
}

.coloricon-ai-effect-up-down:before {
  content: "\e63c";
}

.coloricon-ai-effect-rotate:before {
  content: "\e63d";
}

.coloricon-ai-effect-up:before {
  content: "\e63e";
}

